/*
  Flaticon icon font: Flaticon
  Creation date: 09/11/2018 09:23
  */

@font-face {
    font-family: "Flaticon";
    src: url("./../fonts/Flaticon.eot");
    src: url("./../fonts/Flaticon.eot#iefix") format("embedded-opentype"),
    url("./../fonts/Flaticon.woff") format("woff"),
    url("./../fonts/Flaticon.ttf") format("truetype"),
    url("./../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-industry:before { content: "\f100"; }
.flaticon-chip:before { content: "\f101"; }
.flaticon-gears:before { content: "\f102"; }
.flaticon-factory:before { content: "\f103"; }
.flaticon-factory-1:before { content: "\f104"; }
.flaticon-artificial-intelligence:before { content: "\f105"; }
.flaticon-gears-1:before { content: "\f106"; }
.flaticon-factory-2:before { content: "\f107"; }
.flaticon-factory-3:before { content: "\f108"; }
.flaticon-engineer:before { content: "\f109"; }
.flaticon-assembly:before { content: "\f10a"; }
.flaticon-worker:before { content: "\f10b"; }
.flaticon-conveyor:before { content: "\f10c"; }
.flaticon-factory-4:before { content: "\f10d"; }
.flaticon-conveyor-1:before { content: "\f10e"; }
.flaticon-crane:before { content: "\f10f"; }
.flaticon-gears-2:before { content: "\f110"; }
.flaticon-manufacturing:before { content: "\f111"; }
.flaticon-mass-production:before { content: "\f112"; }
.flaticon-outsourcing:before { content: "\f113"; }
.flaticon-gear:before { content: "\f114"; }
.flaticon-engineer-1:before { content: "\f115"; }
.flaticon-artificial-intelligence-1:before { content: "\f116"; }
.flaticon-idea:before { content: "\f117"; }
.flaticon-cargo-ship:before { content: "\f118"; }
.flaticon-factory-5:before { content: "\f119"; }
.flaticon-solar-panel:before { content: "\f11a"; }
.flaticon-manufacturing-1:before { content: "\f11b"; }
.flaticon-fuel-station:before { content: "\f11c"; }
.flaticon-operation:before { content: "\f11d"; }
.flaticon-tower:before { content: "\f11e"; }
.flaticon-maintenance:before { content: "\f11f"; }
.flaticon-machinery:before { content: "\f120"; }
.flaticon-engineering:before { content: "\f121"; }
.flaticon-setting:before { content: "\f122"; }
.flaticon-manufacture:before { content: "\f123"; }
.flaticon-conveyor-2:before { content: "\f124"; }
.flaticon-machinery-1:before { content: "\f125"; }
.flaticon-robot:before { content: "\f126"; }
.flaticon-industrial:before { content: "\f127"; }
.flaticon-cake:before { content: "\f128"; }
.flaticon-mass-production-1:before { content: "\f129"; }
.flaticon-dashboard:before { content: "\f12a"; }
.flaticon-assembly-line:before { content: "\f12b"; }
.flaticon-worker-1:before { content: "\f12c"; }
.flaticon-artificial-intelligence-2:before { content: "\f12d"; }
.flaticon-idea-1:before { content: "\f12e"; }
.flaticon-crane-1:before { content: "\f12f"; }
.flaticon-handshake:before { content: "\f130"; }
.flaticon-result:before { content: "\f131"; }
.flaticon-rocket-ship:before { content: "\f132"; }
.flaticon-jigsaw:before { content: "\f133"; }
.flaticon-oil-platform:before { content: "\f134"; }
.flaticon-buildings:before { content: "\f135"; }
.flaticon-team:before { content: "\f136"; }
.flaticon-global:before { content: "\f137"; }